<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{$basePath}/boot/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{$basePath}/boot/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
	<link href="{$basePath}/boot/css/style.css" rel="stylesheet" type="text/css" />
	<title>Správce souborů</title>
	<script type="text/javascript" src="{$basePath}/assets/FileManager/js/jquery.min.js"></script>
      <script type="text/javascript" src="{$basePath}/assets/FileManager/js/netteForms.js"></script>

    <script type="text/javascript" src="{$basePath}/boot/js/bootstrap.js"></script>
	<script type="text/javascript">
		$('#myTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		})
	</script>
</head>
<body>
	{control manager}
</body>
</html>