<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{$basePath}/assets/FileManager/css/nahravac.css" rel="stylesheet" type="text/css" />
	<title>Správce souborů</title>
	<script type="text/javascript" src="{$basePath}/assets/FileManager/js/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/assets/FileManager/js/jquery.nette.js"></script>
	<script type="text/javascript" src="{$basePath}/assets/FileManager/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/assets/FileManager/js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/assets/FileManager/js/ajax.js"></script>
    <script type="text/javascript" src="{$basePath}/assets/FileManager/js/control.js"></script>
    <script type="text/javascript" src="{$basePath}/assets/FileManager/tiny_mce_popup.js"></script>
</head>
<body>
	{control manager}
</body>
</html>