<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="{$basePath}/{$assetsDir['css']}" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="{$basePath}/{$assetsDir['js']}"></script>
	<title>Správce souborů</title>
</head>
<body>
{include #content}
</body>
</html>