{form $form}
	<table class="table table-bordered">
		<tr>
			<td >{label name /}</td>
			<td>{input name class=>'form-control'}</td>
		</tr>
		<tr>
			<td></td>
			<td>{input send class=>'btn btn-primary'}</td>
		</tr>
	</table>
{/form}